/*
 = require jquery

 = require angular

 = require lodash
 = require restangular
 = require angular-ui-router
 = require angular-cookie
 = require ng-token-auth
 = require angular-bacon
 = require_self
 = require_tree ./angular/templates
 = require_tree .
 */

var App = angular.module('<%= app_name %>', [
  'ui.router',
  'templates',
  'restangular',
  'ipCookie',
  'ng-token-auth',
  'angular-bacon'
]);

App.config(['$stateProvider', '$urlRouterProvider', '$locationProvider', 'RestangularProvider', '$authProvider',
    function($stateProvider, $urlRouterProvider, $locationProvider, RestangularProvider, $authProvider) {
  RestangularProvider.setBaseUrl("/api");
  RestangularProvider.setDefaultRequestParams({format: "json"});

  $authProvider.configure({
      apiUrl: 'http://<%= app_name %>.com/api'
  });

  $locationProvider.html5Mode(true);
  $urlRouterProvider.otherwise("/widgets");

  $stateProvider
    .state('widgets', {
      url: "/widgets",
      abstract: true,
      template: "<div ui-view></div>"
    })
    .state('widgets.list', {
      url: "",
      templateUrl: "widgets/index.html",
      controller: "WidgetsListController"
    }).
    state('widgets.show', {
      url: "/widgets/:id",
      templateUrl: "widgets/show.html",
      controller: "WidgetsShowController"
    });
}]);