{
  "name": "<%= app_name %>",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    "lodash": "~2.4.1",
    "angular": "~1.3.13",
    "angular-ui-router": "~0.2.13",
    "restangular": "~1.4.0",
    "ng-token-auth": "~0.0.24",
    "angular-cookie": "~4.0.6",
    "angular-bacon": "~2.0.0"
  }
}