source 'https://rubygems.org'

ruby '<%= Brace::RUBY_VERSION %>'

gem 'rails', '~> <%= Brace::RAILS_VERSION %>'

# Datastores
gem 'pg'

# Sysadmin
gem 'puma'
gem 'dotenv-rails'

# Asset Pipeline
gem 'uglifier'
gem 'therubyracer'

# Frontend JS
gem 'jquery-rails'

# Frontend HTML/CSS
gem 'slim-rails'
gem 'high_voltage'
gem 'bourbon', '~> 4.1.0'
gem 'neat', '~> 1.7.0'
gem 'refills'
gem 'normalize-rails', '~> 3.0.0'
gem 'sass-rails', '~> 5.0'

# Jobs
gem 'sidekiq'
gem 'clockwork'

# API
gem 'responders'

# Monitoring
gem 'rollbar'
gem 'newrelic_rpm'

# i18n
gem 'i18n-tasks'
gem 'title'

# Network
gem 'rack-timeout'

# Utilities
gem 'email_validator'

# Payments
gem 'stripe'

# Authentication
gem 'omniauth'
gem 'devise'
gem 'devise_token_auth'

group :development, :test do
  gem 'rspec-rails', '~> 3.1.0'
  gem 'factory_girl_rails'
  gem 'bundler-audit', require: false
  gem 'faker'
  gem 'pry-byebug'
  gem 'pry-rails'
  gem 'awesome_print'
end

group :development do
  gem 'spring'
  gem 'spring-commands-rspec'
  gem 'better_errors'
  gem 'binding_of_caller'
  gem 'quiet_assets'
  gem 'meta_request'
end

group :test do
  gem 'database_cleaner'
  gem 'mock_redis'
  gem 'webmock'
  gem 'vcr'
  gem 'timecop'
  gem 'test_after_commit'
  gem 'shoulda-matchers', require: false
end

group :staging, :production do
end
